:root{
    /*Pozice Obchodu s vylepsenim*/
    --shoptop: 10vh; 
    --shopleft: 72vw;
}
* {
    margin: 0;
    padding: 0;
    background-color: #597a8a;
}


/*Obchod s vylepsenim - ikony --------------------------------------------------------------------------------------------------------------------*/
.list {
    position: relative;
    left: var(--shopleft);
    top: var(--shoptop);
    z-index: 2;
    width: 143px;
}.list li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 41px;
    rotate: calc(45deg);
}a {
    display: block;
    rotate: -45deg;
}

.Mining {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Mining img {
    padding-top: 25px;
    padding-left: 12px;
    width: 80px;
    height: 85px;
    transform: rotateY(180deg);
}

.Fishing {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Fishing img {
    padding-top: 40px;
    width: 90px;
    height: 95px;
}

.Click {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Click img {
    padding-top: 40px;
    width: 80px;
    height: 85px;
    padding-left: 17px;
}

.Gardening {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Gardening img {
    padding-top: 40px;
    width: 70px;
    height: 75px;
}

.Engineering {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Engineering img {
    padding-top: 40px;
    width: 75px;
    height: 80px;
}

/*Info o vylepseni --------------------------------------------------------------------------------------------------------------------*/

.infolist {
    position: fixed;
    left: var(--shopleft);
    top: var(--shoptop);
    z-index: 1;
}
.ClickInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 400px;
    margin-left: 90.8px;
    margin-top: 20px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    opacity: 0.1;
}
.FishingInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 400px;
    margin-left: 90.8px;
    margin-top: 20px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    opacity: 0.1;
}
.MiningInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 400px;
    margin-left: 90.8px;
    margin-top: 20px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    opacity: 0.1;
}
.GardeningInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 400px;
    margin-left: 90.8px;
    margin-top: 20px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    opacity: 0.1;
}
.EngineeringInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 400px;
    margin-left: 90.8px;
    margin-top: 20px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    opacity: 0.1;
}
