:root{
    /*Pozice Obchodu s vylepsenim*/
    --shoptop: 10vh; 
    --shopleft: 72vw;
}
* {
    margin: 0;
    padding: 0;
}
body{
    animation:15s background-movement linear infinite;
    background:linear-gradient(to right,rgb(16, 127, 187, 0.9),rgb(27, 113, 156),rgba(16, 127, 187, 0.9));
    background-size:2000%;
}
@keyframes background-movement{
    from{background-position: 0% center }
    to{background-position: -200% center }
}

/*Obchod s vylepsenim - ikony --------------------------------------------------------------------------------------------------------------------*/
.list {
    position: relative;
    left: var(--shopleft);
    top: var(--shoptop);
    z-index: 2;
    width: 93px;
}.list li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 41px;
    rotate: calc(45deg);
    background-color: #c5c5c5;
}a {
    display: block;
    rotate: -45deg;
}

.Click {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Click img {
    padding-top: 40px;
    width: 80px;
    height: 85px;
    padding-left: 17px;
}
.Mining {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Mining img {
    padding-top: 25px;
    padding-left: 12px;
    width: 80px;
    height: 85px;
    transform: rotateY(180deg);
}

.Fishing {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Fishing img {
    padding-top: 40px;
    width: 90px;
    height: 95px;
}

.Gardening {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Gardening img {
    padding-top: 40px;
    width: 70px;
    height: 75px;
}

.Engineering {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Engineering img {
    padding-top: 40px;
    width: 75px;
    height: 80px;
}

/*Info o vylepseni --------------------------------------------------------------------------------------------------------------------*/

.infolist {
    position: absolute;
    left: var(--shopleft);
    top: var(--shoptop);
    background:none;
    z-index: 1;
}
.ClickInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 141px;
    width: 0px;
    margin-left: 92px;
    margin-top: 21px;
    margin-bottom: -18.5px;
    outline: 1px solid black;
    border-radius:5px;
    background-color: #d6d6d680;
    overflow:hidden;
}
.FishingInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 141px;
    width: 0px;
    margin-left: 91px;
    margin-top: 20px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    border-radius:5px;
    background-color: #d6d6d680;
    overflow:hidden;
}
.MiningInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 141px;
    width: 0px;
    margin-left: 91px;
    margin-top: 19px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    border-radius:5px;
    background-color: #d6d6d680;
    overflow:hidden;
}
.GardeningInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 141px;
    width: 0px;
    margin-left: 91px;
    margin-top: 19px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    border-radius:5px;
    background-color: #d6d6d680;
    overflow:hidden;
}
.EngineeringInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 141px;
    width: 0px;
    margin-left: 91px;
    margin-top: 18px;
    margin-bottom: -18.5px;
    border: 1px solid black;
    border-radius:5px;
    background-color: #d6d6d680;
    overflow:hidden;
}


/*Animace pro otevreni popisku*/

body:has(.Click:hover) .ClickInfo,.ClickInfo:hover,
body:has(.Fishing:hover) .FishingInfo,.FishingInfo:hover,
body:has(.Mining:hover) .MiningInfo,.MiningInfo:hover,
body:has(.Gardening:hover) .GardeningInfo,.GardeningInfo:hover,
body:has(.Engineering:hover) .EngineeringInfo,.EngineeringInfo:hover{
    animation: slideout 1s;
    animation-fill-mode: forwards;
}
@keyframes slideout {
    0% {width: 0px;}
    100% {width: 400px;}
}