:root{
    --shoptop: 10dvh; 
    --shoptop-small: 0dvh;
    --shopleft: 66dvw;
    --shopleft-small: 55dvw;
    --shadow-effect: 0px 0px 50px white;
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background: radial-gradient(circle, rgb(76, 154, 185) 30%, rgb(35, 136, 173) 100%);
}
.coin{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.clicked{
    width: 25dvw;
    height: 25dvh;
}
.mainclicker{
    position:absolute;
    top:26dvh;
    left:30dvw;
}
.Balance{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size:3em;
    width:25dvw;
}
/*Tlacitka k ulozeni dat --------------------------------------------------------------------------------------------------------------------*/
form{
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top:1rem;
}
button{
    height: 2rem;
    width:5rem;
    color:white;
    background-color: rgba(0, 0, 0, 0.425);
    cursor: pointer;
    border: 1px solid white;
}
/*Obchod s vylepsenim - ikony --------------------------------------------------------------------------------------------------------------------*/
.list {
    position: relative;
    left: var(--shopleft);
    top: var(--shoptop);
    z-index: 2;
    width: 28rem;
}.list li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 41px;
    rotate: calc(45deg);
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}a {
    display: block;
    rotate: -45deg;
}

.Click {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Click img {
    padding-top: 40px;
    width: 80px;
    height: 85px;
    padding-left: 17px;
}
.Mining {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Mining img {
    padding-top: 25px;
    padding-left: 12px;
    width: 80px;
    height: 85px;
    transform: rotateY(180deg);
}

.Fishing {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Fishing img {
    padding-top: 40px;
    width: 90px;
    height: 95px;
}

.Gardening {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Gardening img {
    padding-top: 40px;
    width: 70px;
    height: 75px;
}

.Engineering {
    position: relative;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    overflow: hidden;
}.Engineering img {
    padding-top: 40px;
    width: 75px;
    height: 80px;
}

/*Info o vylepseni --------------------------------------------------------------------------------------------------------------------*/

.infolist {
    position: absolute;
    left: var(--shopleft);
    top: var(--shoptop);
    background:none;
    z-index: 1;
}
.infolist li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 141px;
    width: 0px;
    margin-left: 91px;
    margin-top: 19px;
    margin-bottom: -18.5px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: nowrap;
    color:white;
}
p{
    margin-right:-3.5em;
}

@keyframes slideout {
    0% {width: 0px;}
    100% {width: 21rem;}
}

/*Animace pro otevreni popisku*/
body:has(.Click:hover) .ClickInfo,.ClickInfo:hover,
body:has(.Fishing:hover) .FishingInfo,.FishingInfo:hover,
body:has(.Mining:hover) .MiningInfo,.MiningInfo:hover,
body:has(.Gardening:hover) .GardeningInfo,.GardeningInfo:hover,
body:has(.Engineering:hover) .EngineeringInfo,.EngineeringInfo:hover{
    animation: slideout 0.3s;
    animation-fill-mode: forwards;
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: var(--shadow-effect);
    cursor: pointer;
}
.Click:hover,.Fishing:hover,.Mining:hover,.Gardening:hover,.Engineering:hover{
    cursor: pointer;
}

/*Posunutí prvků při menším velikosti obrazovky*/
@media screen and (max-width: 1320px) {
    .list,.infolist{
        left:var(--shopleft-small);
    }
}
@media screen and (max-height:810px){
    .list,.infolist{
        top:var(--shoptop-small);
    }
}